.header{
    background-image: url(../../../images/img.jfif);
    height: 600px;
    background-size: cover;
    background-position: center;
}
.header-title{
    text-align: center;
}
.header h3{
    color: #009c86;
    font-weight: 600;
}
.header h1{
    color: seashell;
}